<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.url }}">Home</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Education</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Publications</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Research Projects</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Patents and Softwares</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
